{% extends 'vestot/base.html' %}


{% block title %}
    לוח שנה
{% endblock title %}
    

{% block body %}
    <h1>לוח שנה</h1>
    <br>
    <h4>{{ heb_month }}</h4>
    <br>
    
    <a class="btn btn-info left" href="{% url 'calendar-month' prev_month.0 prev_month.1 %}">חודש קודם</a>
    <a class="btn btn-info right" href="{% url 'calendar-home' %}">עכשיו</a>
    <a class="btn btn-info right" href="{% url 'calendar-month' next_month.0 next_month.1 %}">חודש הבא</a>
    <br>
    <br>
    <table id="mytab" class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">ראשון</th>
            <th scope="col">שני</th>
            <th scope="col">שלישי</th>
            <th scope="col">רביעי</th>
            <th scope="col">חמישי</th>
            <th scope="col">שישי</th>
            <th scope="col">שבת</th>
        </tr>
        </thead>
        <tbody>
                            
            <tr>
            {% for key, day in day_list.items %}    
                <td>{{ day.heb_day }} </td>
                {% if key|divisibleby:7%}
                    </tr>   
                    {% if key != 35 %}
                    <tr>
                    {% endif %}
                {% endif %}
            {% endfor %}                        
        </tbody>
    </table>
    <script src="https://unpkg.com/kosher-zmanim@0.8.0/dist/kosher-zmanim.min.js"></script>

    <!-- <script>
        const table = document.getElementById("mytab");
        for (let i = 1; i < table.rows.length; i++) {               
                let row = table.rows[i]
                for (let j = 0; j < row.cells.length; j++) {
                    let cell = row.cells[j] 
                }  
            }
    </script> -->
{% endblock body %}
    