{% extends 'vestot/base.html' %}

{% block title %}
    הוסף וסת
{% endblock title %}

{% block body %}

{% if user.is_authenticated %}

<h3 class="d-flex align-items-center justify-content-center">הוסף וסת</h3>
<div class="center-form w-25">
  <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="mb-3 btn btn-secondary" type="submit" value="הוסף וסת">
  </form>
</div>

{% else %}
אתה לא יכול להיכנס לכאן לפני שהתחברת...
<br><br>
{% endif %}

  <div class="d-flex align-items-center justify-content-center">
    <a class="mb-3 btn btn-secondary" href="{% url 'home' %}">חזור</a>
  </div>

{% endblock body %}
    
